@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Mendefinisikan font family utama dan kedua menggunakan variabel dari layout.tsx */
  --font-primary: var(--font-lexend), sans-serif;
  --font-secondary: var(--font-manrope), sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Variabel untuk mode gelap (opsional) */
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* Menerapkan font utama (Lexend) ke seluruh teks dalam body */
  font-family: var(--font-primary);
}

h1, h2, h3, h4, h5, h6 {
  /* Menerapkan font kedua (Manrope) ke semua elemen heading */
  font-family: var(--font-secondary);
}
